<div class="root grid">
  <nav class="navigation bg-color">
    <div><button class="btn-nav home">HOME</button></div>
    <div>countdown</div>
    <div>
      <button
        *ngFor="let lang of LANGS"
        class="btn-nav lang"
        [disabled]="lang === selectedLang ? true : false"
        (click)="handleLangChange(lang)"
        id="{{ lang }}"
      >
        {{ lang }}
      </button>
    </div>
  </nav>
  <main class="center">
    <app-quiz
      *ngIf="appState === APPSTATE.QUIZ"
      [quizData]="quizData"
    ></app-quiz>
  </main>
  <footer>bar</footer>
</div>
