<div class="root grid">
  <nav class="navigation bg-color">
    <div>
      <button class="btn-nav home" (click)="onHomeButtonClick()">HOME</button>
    </div>
    <div>
      <span *ngIf="appState !== APPSTATE.HOME">
        {{ timer | timerPipe }}
      </span>
    </div>
    <div>
      <button
        *ngFor="let lang of LANGS"
        class="btn-nav lang"
        [disabled]="lang === currentLang ? true : false"
        (click)="handleLangChange(lang)"
        id="{{ lang }}"
      >
        {{ lang }}
      </button>
    </div>
  </nav>
  <main class="center">
    <div *ngIf="appState === APPSTATE.HOME" class="center">
      <h3>QUIZ</h3>
      <button (click)="onStartClick()">Start</button>
    </div>
    <app-quiz *ngIf="appState !== APPSTATE.HOME"></app-quiz>
  </main>
  <footer class="bg-color"></footer>
</div>
