<div class="grid-wrapper">
  <button
    class="quiz-button"
    [ngClass]="{ hidden: currentQuestionNumber === 0 }"
    (click)="handleNavigationClick('-')"
  >
    <
  </button>

  <div class="quiz-wrapper">
    <div class="button-wrapper">
      <button
        *ngFor="let question of quizData.questions; let i = index"
        value="{{ i }}"
        name="numberNavigation"
        (click)="handleQuestionNumberClick($event, i)"
      >
        {{ i + 1 }}
      </button>
    </div>

    <form [formGroup]="formQuiz" (ngSubmit)="onSubmitQuiz()">
      <div>
        value: {{ formQuiz.value | json }}
        <app-question
          *ngFor="let question of quizData.questions; let i = index"
          [questionData]="quizData.questions[currentQuestionNumber]"
          [questionNumber]="i"
          [languagePack]="quizData.langPack"
          [isActive]="i === currentQuestionNumber ? true : false"
        ></app-question>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="submit">Finish Quiz</button>
      </div>
    </form>
  </div>

  <button
    class="quiz-button"
    [ngClass]="{
      hidden: currentQuestionNumber === quizData.questions.length
    }"
    (click)="handleNavigationClick('+')"
  >
    >
  </button>
</div>
