<div class="grid-wrapper">
  <button
    class="quiz-button"
    [ngClass]="{ hidden: currentQuestionNumber === 0 }"
    (click)="handleNavigationClick('-')"
  ></button>

  <div class="quiz-wrapper">
    <form [formGroup]="formQuiz" (ngSubmit)="onSubmitQuiz()">
      <div class="button-wrapper">
        <button
          *ngFor="let question of quizData.questions; let i = index"
          value="{{ i }}"
          name="numberNavigation"
          (click)="handleQuestionNumberClick($event, i)"
          [ngClass]="{
            active: i === currentQuestionNumber ? true : false
          }"
        >
          {{ i + 1 }}
        </button>
      </div>
      <div class="questions-container">
        <app-question
          *ngFor="let question of quizData.questions; let i = index"
          [answersOrder]="randomOrderSets[i]"
          [questionNumber]="i"
          [isActive]="i === currentQuestionNumber ? true : false"
        ></app-question>
        <app-quizsummary
          *ngIf="appState === APPSTATE.SUMMARY"
          [score]="calcScore()"
        ></app-quizsummary>
      </div>
      <div class="button-wrapper">
        <button *ngIf="appState === APPSTATE.QUIZ" type="submit" class="submit">
          {{ quizData.langPack.finish }} Quiz
        </button>
        <button
          *ngIf="appState === APPSTATE.SUMMARY"
          class="submit"
          (click)="handleSummaryClick()"
        >
          {{ quizData.langPack.summary }}
        </button>
      </div>
    </form>
  </div>

  <button
    class="quiz-button"
    [ngClass]="{
      hidden: currentQuestionNumber === quizData.questions.length - 1
    }"
    (click)="handleNavigationClick('+')"
  >
    >
  </button>
</div>
