<div class="grid-wrapper">
  <button
    class="quiz-button"
    [ngClass]="{ hidden: currentQuestionNumber === 0 }"
    (click)="handleNavigationClick('-')"
  >
    <
  </button>

  <div class="quiz-wrapper">
    <form [formGroup]="formQuiz" (ngSubmit)="onSubmitQuiz()">
      <div class="button-wrapper">
        <button
          *ngFor="let question of quizData.questions; let i = index"
          value="{{ i }}"
          name="numberNavigation"
          (click)="handleQuestionNumberClick($event, i)"
          [ngClass]="{
            active: i === currentQuestionNumber ? true : false
          }"
        >
          {{ i + 1 }}
        </button>
      </div>

      <div>
        <app-question
          *ngFor="let question of quizData.questions; let i = index"
          [answersOrder]="randomOrderSets[i]"
          [questionNumber]="i"
          [isActive]="i === currentQuestionNumber ? true : false"
        ></app-question>
      </div>
      <div class="button-wrapper">
        <button type="submit" class="submit">Finish Quiz</button>
      </div>
    </form>
  </div>

  <button
    class="quiz-button"
    [ngClass]="{
      hidden: currentQuestionNumber === quizData.questions.length - 1
    }"
    (click)="handleNavigationClick('+')"
  >
    >
  </button>
</div>
