<div
  *ngIf="questionData"
  [ngClass]="{ notActive: !isActive }"
  [formGroup]="form"
>
  <h3>{{ languagePack.question }}: {{ questionNumber + 1 }}</h3>
  <h5>{{ questionData.question }}</h5>
  <ul formArrayName="pickedAnswers">
    <ng-container [formGroupName]="questionNumber">
      <li *ngFor="let answer of answers; let i = index">
        <label>
          <input
            formControlName="question{{ questionNumber }}"
            type="radio"
            value="{{ i }}"
          />
          {{ answer }}
        </label>
      </li>
    </ng-container>
  </ul>
</div>
